<div>
  <button class="btn btn-md btn-warning btn-block" (click)="gotoLogin()">Go To Login Page</button>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-horizontal">
        <h2>Registration Form</h2>
        <div class="form-group">
          <div class="col-sm-9">
            <input type="text" placeholder="Name" class="form-control" name="name"
                   (ngModelChange)="onModelChange('name')"
                   [(ngModel)]="user.name">
            <p class="text-danger" *ngIf="errors['name']">{{errors['name']}}</p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-9">
            <input type="text" placeholder="Phone" class="form-control" name="phone"
                   (ngModelChange)="onModelChange('phone')"
                   [(ngModel)]="user.phone">
            <p class="text-danger" *ngIf="errors['phone']">{{errors['phone']}}</p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-9">
            <input type="radio" value="male" name="gender" [(ngModel)]="user.gender"> Male
            <input type="radio" value="female" name="gender" [(ngModel)]="user.gender"> Female
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-9">
            <input type="text" placeholder="Email" class="form-control" name="email"
                   (ngModelChange)="onModelChange('email')"
                   [(ngModel)]="user.email">
            <p class="text-danger" *ngIf="errors['email']">{{errors['email']}}</p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-9">
            <input type="password" placeholder="Password" class="form-control" name="password"
                   (ngModelChange)="onModelChange('password')"
                   [(ngModel)]="user.password">
            <p class="text-danger" *ngIf="errors['password']">{{errors['password']}}</p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-9">
            <input type="password" placeholder="Confirm Password" class="form-control" name="password_confirm"
                   (ngModelChange)="onModelChange('password_confirm')"
                   [(ngModel)]="user.password_confirm">
            <p class="text-danger" *ngIf="errors['password_confirm']">{{errors['password_confirm']}}</p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-9">
            <input type="text" placeholder="Role" class="form-control" name="role"
                   (ngModelChange)="onModelChange('role')"
                   [(ngModel)]="user.role">
            <p class="text-danger" *ngIf="errors['role']">{{errors['role']}}</p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-9">
            <button type="submit" class="btn btn-primary btn-block" (click)="registation()">Register User</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
