// COLOR
$white: #fff;
$black: #000;
$lighter-skype-blue: #EBF4F9;
$light-skype-blue: #9BCCE3;
$skype-blue: #389ac7;
$dark-skype-blue: #276b8b;
$green: #7ed321;
$light-green: #CEDEDB;
$lighter-grey: #f2f2f2;
$light-grey: #AEAEAE;
$grey: #6B6B6B;
$dark-grey: #4B4B4B;
$yellow: #f8e71c;
$light-blue: #cededb;
$dark-blue: #1c4d63;
$reg-bg: #FF0000
