.text-white {
  color: $white;
}

.text-skype-blue {
  color: $skype-blue;
}

.text-light-skype-blue {
  color: $light-skype-blue;
}

.text-dark-skype-blue {
  color: $dark-skype-blue;
}

.text-dark {
  color: $dark-grey;
}

.text-yellow {
  color: $yellow;
}

.text-light-grey {
  color: $light-grey;
}

.text-lighter-grey {
  color: $lighter-grey;
}

.text-light-green {
  color: $light-green;
}

.text-grey {
  color: $grey;
}

.text-light-blue {
  color: $light-blue
}

.text-emphasis {
  font-style: italic;
}

.text-uppercase {
    text-transform: uppercase;
}

//End text color
// color background
.grey-bg {
  background-color: $grey;
}

.dark-bg {
  background-color: $dark-grey;
}

.light-grey-bg {
  background-color: $light-grey;
}

.lighter-grey-bg {
  background-color: $lighter-grey;
}

.light-green-bg {
  background-color: $light-green;
}

.light-skype-blue-bg {
  background-color: $light-skype-blue;
}

.skype-blue-bg {
  background-color: $skype-blue;
}

.white-bg {
  background-color: $white;

}

.dark-skype-blue-bg {
  background-color: $dark-skype-blue;
}

.yellow-bg {
  background-color: $yellow;
}

.dark-blue-bg {
  background-color: $dark-blue;
}

.reg-bg {
  background-color: $reg-bg;
}

.font-tiny {
    font-size: $font-tiny;
}

.font-small {
    font-size: $font-small;
}

.font-normal {
    font-size: $font-normal;
}

.font-large {
  font-size: $font-large;
}

.font-larger {
  font-size: $font-larger;
}

.font-huge {
  font-size: $font-huge;
}

.font-huger {
  font-size: $font-huger;
}

.font-bold {
    font-weight: bold;
}

.fa-2 {
  font-size: 2em;
}

.fa-3 {
  font-size: 4em;
}
