<section class="content-header" style="margin-bottom: 50px">
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- Info boxes -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Bordered Table</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered">
            <tbody><tr>
              <th >Thứ 2</th>
              <th >Thứ 3</th>
              <th >Thứ 4</th>
              <th >Thứ 5</th>
              <th >Thứ 6</th>
              <th >Thứ 7</th>
              <th >Chủ Nhật</th>

            </tr>
            <tr>
              <td *ngFor="let item of Schedules">
                <p *ngFor="let time of item">
                  {{time.start | scheduleTime}} : {{time.end | scheduleTime}}
                </p>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
  <!-- /.row -->

</section>
