<div>
  <button class="btn btn-md btn-warning btn-block" type="Submit" (click)="goToRegistration()">
    Go To Registration Page
  </button>
</div>

<div class="container" style="min-height: 729px">
  <img src="../../../assets/images/login.jpg" class="img-responsive center-block" width="300" height="300" alt="Logo" />
  <form class="form-group" style="text-align: center; width: 60%; margin: auto">
    <h3>Welcome</h3> <br>
    <input type="text" name="email" placeholder="Email"
           (ngModelChange)="onModelChange('email')"
           [(ngModel)]="user.email" class="form-control">
    <p class="text-danger text-left" *ngIf="errors['email']">{{errors['email']}}</p>
    <br>
    <input type="password" placeholder="Password" [(ngModel)]="user.password"
           (ngModelChange)="onModelChange('password')"
           name="password" class="form-control">
    <p class="text-danger text-left" *ngIf="errors['password']">{{errors['password']}}</p>
    <br>
    <button type="submit" class="btn btn-primary" style="width: 100%" name="Submit" (click)="login()">Login</button>
  </form>
</div>
