<div class="boxed" style="margin-top: -15px">
    <!-- BEGIN .header -->
    <header class="header light">
        <!-- BEGIN .wrapper -->
        <div class="wrapper">
            <!-- BEGIN #main-menu -->
            <nav id="main-menu">
                <div class="search-head">
                    <div >
                        <input type="text" class="ot-search-field" value=""/>
                        <input type="submit" class="ot-search-button" value="Search"/>
                    </div>
                </div>
                <ul class="top-menu ot-menu-add" rel="Main Menu">
                    <li><a routerLink="/master/courses">My Course<i>All courses</i></a></li>
                    <!--<li><a href=""><span>Shortcodes<i>Theme Features</i></span></a>-->
                        <!--<ul>-->
                            <!--<li><a href="">Image With Caption</a></li>-->
                            <!--<li><a href="">Responsive Video Embeds</a></li>-->
                            <!--<li><a href="">Spacer Styles</a></li>-->
                            <!--<li><a href="">Buttons</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->

                    <li><a (click)="logout()">Logout<i>Happy Learning</i></a></li>
                </ul>
                <!-- END #main-menu -->
            </nav>

            <!-- END .wrapper -->
        </div>

        <!-- END .header -->
    </header>

    <!-- BEGIN .content -->
    <section class="content">

        <!-- BEGIN .wrapper -->
        <div class="wrapper">
            <!-- BEGIN .with-sidebar-layout -->
            <router-outlet></router-outlet>
            <!-- END .wrapper -->
        </div>

        <!-- BEGIN .content -->
    </section>

    <div class="footer-bottom">

        <!-- BEGIN .wrapper -->
        <div class="wrapper">
            <ul class="right">
                <li><a href="">Home</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
            <p>&copy; 2018 Copyright <b>TuVu</b> All Rights reserved.</p>
        </div>

    </div>
</div>
